<?xml version="1.0" encoding="UTF-8"?>
<configuration>

<!-- 	<property resource="META-INF/properties/${profile}/graylog.properties"/>
 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/server.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/server.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
<!-- 
	<appender name="GRAYLOG" class="me.moocar.logbackgelf.GelfAppender">
		<facility>B2BFC</facility>
		<graylog2ServerHost>${graylog.server.host}</graylog2ServerHost>
		<graylog2ServerPort>${graylog.server.port}</graylog2ServerPort>
		<useLoggerName>true</useLoggerName>
		<graylog2ServerVersion>0.9.6</graylog2ServerVersion>
		<chunkThreshold>1000</chunkThreshold>
		<useThreadName>true</useThreadName>
		<messagePattern>%m%rEx</messagePattern>
	</appender> -->


    <!--   <logger name="com.base22" level="TRACE"/> -->
    <logger name="com.eventpool" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    	<appender-ref ref="GRAYLOG" />
    </root>
</configuration>
